.container {
    text-align: center;
  }
  
  #chart1 {
    max-width: 500px;
  }
  
  .node circle {
    stroke: white;
    stroke-width: 1.5;
  }
  
  .node text {
    font-family: Helvetica, sans-serif;
    fill: black;
    font-size: 12px;
  }
  
  .link {
    stroke: black;
    stroke-opacity: 0.6;
  }
  
  .container {
    display: inline-block; /* or you can use 'block' for vertical stacking */
    margin: 10px;
  }
  
  svg {
    border: 1px solid #ccc; /* Visual border for SVG */
  }