.container {
    text-align: center;
  }
  
  #chart1 {
    margin-left: 150px;
    width: 580.5px;
    height: 800px;
  }
  
  #chart2 {
    margin-left: 500px;
    width: 580.5px;
    height: 800px;
  }

  .node circle {
    stroke: white;
    stroke-width: 1.5;
  }
  
  .node text {
    font-family: Helvetica, sans-serif;
    fill: black;
    font-size: 12px;
  }
  
  .link {
    stroke: black;
    stroke-opacity: 0.6;
  }
  
  .container {
    display: inline-block; /* or you can use 'block' for vertical stacking */
    width: 582.5px;
  }
  
  svg {
    
  }

  